
@{
    ViewBag.Title = "Concepto";
}

<ol class="breadcrumb mb-3 mt-3">
    <li class="breadcrumb-item active">Concepto</li>
    <li class="breadcrumb-item active">Concepto</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-cog"></i> Lista De Concepto
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-success d-block" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="NuevoConcepto()"> Agregar Nuevo Concepto</a>
            </div>
        </div>
    </div>
</div>
<br />
<div id="divConcepto">

</div>

<!--Modal-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Registro De Concepto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmConcepto" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Nombre</label>&nbsp;<label style="color: red">(*)</label>
                            <input type="text" name="Nombre" class="form-control max-50" />
                            <input type="text" name="CodConcepto" hidden class="form-control" placeholder="autogenerado" />
                        </div>
                        <div class="col-md-4">
                            <label>¿Es Recuperable?</label>&nbsp;<label style="color: red">(*)</label>
                            <select name="Recuperable" class="form-control" id="cboRecuperable">
                                <option value="" selected="selected">-- Seleccione --</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Estado</label>&nbsp;<label style="color: red">(*)</label>
                            <select name="Estado" class="form-control" id="cboEstado">
                                <option value="" selected="selected">-- Seleccione --</option>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarConcepto" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" id="btnGuardarConcepto" class="btn btn-primary" onclick="GuardarConcepto()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div id="progress" class="modal">
    <div class="center" style="position: fixed;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
        <div class="kt-section__content kt-section__content--border">
            <div class="spinner-grow text-primary" role="status"> <span class="sr-only">Loading...</span> </div>
            <div class="spinner-grow text-secondary" role="status"> <span class="sr-only">Loading...</span> </div>
            <div class="spinner-grow text-success" role="status"> <span class="sr-only">Loading...</span> </div>
            <div class="spinner-grow text-danger" role="status"> <span class="sr-only">Loading...</span> </div>
            <div class="spinner-grow text-warning" role="status"> <span class="sr-only">Loading...</span> </div>
            <div class="spinner-grow text-info" role="status"> <span class="sr-only">Loading...</span> </div>
            <div class="spinner-grow text-light" role="status"> <span class="sr-only">Loading...</span> </div>
        </div>
    </div>
</div>

<script src="~/Scripts/UILayer/Varios/sweetalert.js"></script>
<script src="~/Scripts/UILayer/Varios/generic.js"></script>
<script src="~/Scripts/UILayer/Concepto/Concepto.js"></script>