
@{
    ViewBag.Title = "Autorización";
}

<ol class="breadcrumb mb-3 mt-3">
    <li class="breadcrumb-item active">Resumen</li>
    <li class="breadcrumb-item active">Autorizaciones</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-th-list"></i> Lista De Autorizaciones
    </div>
</div>
<br />
<div id="divPanelAutorizacion">

</div>

<!--Modal-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Detalle De Autorización</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>Código Autorización</label>
                        <input type="text" name="CodAutorizacion" id="CodAutorizacion" disabled class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Fecha Autorizacion</label>
                        <input type="text" name="FechaAutorizacion" id="FechaAutorizacion" disabled class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Código Solicitud</label>
                        <input type="text" name="CodSolicitud" id="CodSolicitud" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Concepto</label>
                        <input type="text" name="NombreConcepto" id="NombreConcepto" disabled class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Fecha Salida</label>
                        <input type="text" name="FechaSalida" id="FechaSalida" disabled class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Fecha Retorno</label>
                        <input type="text" name="FechaRetorno" id="FechaRetorno" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Tiempo</label>
                        <input type="text" name="TiempoCompleto" id="TiempoCompleto" disabled class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Personal Autorizante</label>
                        <input type="text" name="NombreCompletoAutorizante" id="NombreCompletoAutorizante" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Estado</label>
                        <input type="text" name="Estado" id="Estado" disabled class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrar" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="progress" class="modal">
    <div class="center" style="position: fixed;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
        <div class="kt-section__content kt-section__content--border">
            <div class="spinner-grow text-primary" role="status"> <span class="sr-only">Loading...</span> </div>
            <div class="spinner-grow text-secondary" role="status"> <span class="sr-only">Loading...</span> </div>
            <div class="spinner-grow text-success" role="status"> <span class="sr-only">Loading...</span> </div>
            <div class="spinner-grow text-danger" role="status"> <span class="sr-only">Loading...</span> </div>
            <div class="spinner-grow text-warning" role="status"> <span class="sr-only">Loading...</span> </div>
            <div class="spinner-grow text-info" role="status"> <span class="sr-only">Loading...</span> </div>
            <div class="spinner-grow text-light" role="status"> <span class="sr-only">Loading...</span> </div>
        </div>
    </div>
</div>

<script src="~/Scripts/UILayer/Varios/sweetalert.js"></script>
<script src="~/Scripts/UILayer/Varios/generic.js"></script>
<script src="~/Scripts/UILayer/PanelAutorizacion/PanelAutorizacion.js"></script>